<div class="comments">
    {{#each this}}
    <div class="card">
        <h3 class="card-header">{{user.username}} says:</h3>
        <section class="comment card-body">
            <div class="comment-text">
                {{comment_text}}
            </div>
            <div class="comment-date">
                {{format_date created_at}}
            </div>
        </section>
    </div>
    {{/each}}
</div>