<div class="card">
    <div class="card-header">
        <h4><a class="link" href="/post/{{id}}">POST TITLE</a></h4>
        <p>Posted by USERNAME</p>
    </div>
    <p class="card-body">POST HERE</p>
</div>