{{#if posts.length}}
<section>
    <h2>Here's your posts:</h2>
    {{#each posts as |post|}}
    {{> dashboard-posts post}}
    {{/each}}
    {{else}}
    <p>You don't have any posts yet.</p>
</section>
{{/if}}

<section><a href="/dashboard/new" id="new-post"><button id="new-post-btn">Add a new post?</button></a>
</section>

<script src="/js/add-post.js"></script>