{{#if posts.length}}
<section>
    <h2>Here's your posts:</h2>
    {{#each posts as |post|}}
    {{> dashboard-posts post}}
    {{/each}}
    {{else}}
</section>
<p>You don't have any posts yet. How about you </p>
{{/if}}


<a href="/dashboard/new" id="new-post"><button id="new-post-btn">Add a new post?</button></a>


<script src="/js/add-post.js"></script>