{{> post-info post}}

{{> comment post.comments}}

{{#if loggedIn}}
<div class="card">
    <h3 class="card-header">Add a comment?</h3>
    <form class="card-body" id="comment-form">

        <label class="form-label">What do you want to say?:</label>
        <textarea id="comment-body" name="content" class="form-input"></textarea>


        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{{/if}}

{{#if loggedIn}}
<script src="/js/new-comment.js"></script>
{{/if}}