{{> post-info post}}

{{> comment post.comments}}

{{#if loggedIn}}
<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">

        <label class="form-label">Add Your Comment:</label>
        <input id="comment-body" name="comment-body" class="form-input" />

        <button id="comment-submit" type="submit" class="btn">Submit</button>
    </form>
</div>
{{/if}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}